<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mogu</title>
	<link rel="stylesheet" href="__PUBLIC__/common/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/common/Font-Awesome-master/css/font-awesome.min.css">

	<link rel="stylesheet" href="__PUBLIC__/home/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/home/css/twzt.css">
	<link rel="stylesheet" href="__PUBLIC__/home/css/tail.css">
</head>
<body>
<!--头部1-->
<div class="nav">
	<div class="nav-wap ">
		<a href="http://localhost/mogu/Home/page/index.html" class="nav-logo">蘑菇头首页</a>
		<ul class="nav-ul">
			<li class="s1"><a href="http://localhost/mogu/Home/User/login.html" target="_blank">登录</a></li>
			<li class="s1"><a href="http://localhost/mogu/Home/User/register.html" target="_blank">注册</a></li>
			<li class="s1 ullia nav-dd"><a href="http://localhost/mogu/Home/Order/Order.html" target="_blank">我的订单</a></li>
			<li class="s1 ullia nav-shopping">
				<a href="http://localhost/mogu/Home/ShoppingCart/index.html" target="_blank"><span>购物车</span></a>
				<div class="sp-cart">
					购物车里没有商品！
				</div>
			</li>
			<li class="s1 ullia nav-khfw">
				<a href="">客户服务</a>
				<i class="nav-icon"></i>
				<ol class="khfw-tcc">
					<li><a href="">消费者服务</a></li>
					<li><a href="">商家服务</a></li>
					<li><a href="">规则中心</a></li>
				</ol>
			</li>
			<li class="s1 ullia nav-wdxd">
				<a href="">我的小店</a>
				<i class="nav-icon"></i>
				<ol class="khfw-tcc">
					<li><a href="">管理后台</a></li>
					<li><a href="">商家社区</a></li>
					<li><a href="">商家培训</a></li>
					<li><a href="">市场入驻</a></li>
				</ol>
			</li>
		</ul>
	</div>
</div>
<!--头部2-->
<div class="header header-bottom">
	<div class="nav-wap">
		<a href="http://localhost/mogu/Home/page/index.html" class="logo"></a>
		<div class="header-ssk">
			<div class="header-srk">
				<div class="header-ssp">
					<span class="selected" id="sl">搜商品</span>
					<ol class="ssp-ol">
						<li class="lisp"><a href="javascript:;">商品</a></li>
						<li class="lidp"><a href="javascript:;">店铺</a></li>
					</ol>
				</div>
				<div class="header-text">
					<input type="text" placeholder="套装新版韩装" class="input-text">
					<div class="header-lsjl"><span style="padding: 10px">历史记录</span></div>
					<input type="submit" value="搜索" class="input-btn">
				</div>
			</div>
			<div class="header-tj">
				<a href="">春季套装</a>
				<a href="">卫衣</a>
				<a href="">牛仔裤</a>
				<a href="">打底衫</a>
				<a href="">单鞋</a>
				<a href="">斜挎包</a>
				<a href="">男士外套</a>
				<a href="">棒球服</a>
				<a href="">连衣裙</a>
			</div>
		</div>
		<div class="header-ewm">
			<img src="__PUBLIC__/home/images/ewm1.png" alt="">
		</div>
	</div>
</div>
