<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0,
          maximum-scale=1.0, minimum-scale=1.0">
    <title>精选专题</title>
    <link rel="stylesheet" href="__PUBLIC__/common/Font-Awesome-master/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/jinxuan.css?3">
<style>
    #body_wrap #hover:hover{
    display: block;
}</style>

</head>
<body>
<div id="body_wrap" style="background-color: rgb(245,245,245);">

    <div class="social-layout">.
        <div class="social-wrap" style="color:#333333">
            <a style="color:#333333" href="http://www.mogujie.com/">首页</a> &gt; 专题 &gt; 精选专题
        </div>
    </div>
<!--右边微博-->
    <div class="user-info" style="display: block;">
        <div class="User_Wrap">
            <div class="topic_user">
                <div class="lifestyle_topic_user_avatar_wrap">
                    <img class="avatar" src="__PUBLIC__/home/images/xiaolujiejie.jpg" alt="">
                </div>
                <h4 class="user_name">小鹿姐姐LH7</h4>
                <p class="user_intro">每周五的微博你们都有关注吗？</p>
            </div>
        </div>
    </div>
<!--精选专题文字-->
    <div class="social-lay">
        <div class="container">
            <!--<div class="front-image frame"></div>-->
            <h2 id="PageTitle_H2" class="title_h2">
                变瘦!变高!变时髦! 高腰裤满足你</h2>
            <div class=" frame">

                <p>天气回暖，终于又到了可以小秀蛮腰的季节。高一截的高腰裤还在强劲的流行着，
                    除了可以让你小秀身材，也可调节身体比例，实在是小个子们的显高神器！<br>
                    <br>
                    而且无论是贴身的、宽松的高腰裤，都是姑娘们的救星，瞬间拉长你的身材比例，
                    而且高腰裤还能很好的掩饰肚腩上的小赘肉，绝对是搭配利器，穿一件简单的短上衣，
                    脚上搭配一双复古球鞋或者布洛克鞋，就能瞬间时髦感超强!</p>
            </div>
            <!-- <div class="back-image frame"></div>-->
        </div>
    </div>
<!--推荐单品-->
    <div class=" clearfix ">
        <h3 class="top-title">推荐单品</h3>
        <div class="lazyData ">
            <div class="goods cube-acm-node " href="http://shop.mogujie.com/detail/1k7hoja">
                <div class="goods-image J_dynamic_imagebox ">
                    <img class="J_dynamic_img fill_img" src="__PUBLIC__/home/images/tuijiankuzi01.jpg" alt="">
                </div>
                <div class="goods-info">
                    <p class="noicon title">九分长度刚刚好露出细细的脚踝，显瘦没得说</p>
                    <div class="price">
                        <span class="price-box"><i>¥</i><strong class="price-num">59.50</strong></span>
                        <span class="fr like">1755<img src="__PUBLIC__/home/images/start.png" alt=""></span>
                    </div>
                </div>
            </div>
            <a class="goods cube-acm-node " href="http://shop.mogujie.com/detail/1k7hoja">
                <div class="goods-image J_dynamic_imagebox ">
                    <img class="J_dynamic_img fill_img" src="__PUBLIC__/home/images/tuijiankuzi01.jpg" alt="">
                </div>
                <div class="goods-info">
                    <p class="noicon title">九分长度刚刚好露出细细的脚踝，显瘦没得说</p>
                    <div class="price">
                        <span class="price-box"><i>¥</i><strong class="price-num">59.50</strong></span>
                        <span class="fr like">1755<img src="__PUBLIC__/home/images/start.png" alt=""></span>
                    </div>
                </div>
            </a>
            <a class="goods cube-acm-node " href="http://shop.mogujie.com/detail/1k7hoja">
                <div class="goods-image J_dynamic_imagebox ">
                    <img class="J_dynamic_img fill_img" src="__PUBLIC__/home/images/tuijiankuzi01.jpg" alt="">
                </div>
                <div class="goods-info">
                    <p class="noicon title">九分长度刚刚好露出细细的脚踝，显瘦没得说</p>
                    <div class="price">
                        <span class="price-box"><i>¥</i><strong class="price-num">59.50</strong></span>
                        <span class="fr like">1755<img src="__PUBLIC__/home/images/start.png" alt=""></span>
                    </div>
                </div>
            </a>
            <a class="goods cube-acm-node " href="http://shop.mogujie.com/detail/1k7hoja">
                <div class="goods-image J_dynamic_imagebox ">
                    <img class="J_dynamic_img fill_img" src="__PUBLIC__/home/images/tuijiankuzi01.jpg" alt="">
                </div>
                <div class="goods-info">
                    <p class="noicon title">九分长度刚刚好露出细细的脚踝，显瘦没得说</p>
                    <div class="price">
                        <span class="price-box"><i>¥</i><strong class="price-num">59.50</strong></span>
                        <span class="fr like">1755<img src="__PUBLIC__/home/images/start.png" alt=""></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="lazyData">
            <a class="goods cube-acm-node " href="http://shop.mogujie.com/detail/1k7hoja">
                <div class="goods-image J_dynamic_imagebox ">
                    <img class="J_dynamic_img fill_img" src="__PUBLIC__/home/images/tuijiankuzi01.jpg" alt="">
                </div>
                <div class="goods-info">
                    <p class="noicon title">九分长度刚刚好露出细细的脚踝，显瘦没得说</p>
                    <div class="price">
                        <span class="price-box"><i>¥</i><strong class="price-num">59.50</strong></span>
                        <span class="fr like">1755<img src="__PUBLIC__/home/images/start.png" alt=""></span>
                    </div>
                </div>
            </a>
            <a class="goods cube-acm-node " href="http://shop.mogujie.com/detail/1k7hoja">
                <div class="goods-image J_dynamic_imagebox ">
                    <img class="J_dynamic_img fill_img" src="__PUBLIC__/home/images/tuijiankuzi01.jpg" alt="">
                </div>
                <div class="goods-info">
                    <p class="noicon title">九分长度刚刚好露出细细的脚踝，显瘦没得说</p>
                    <div class="price">
                        <span class="price-box"><i>¥</i><strong class="price-num">59.50</strong></span>
                        <span class="fr like">1755<img src="__PUBLIC__/home/images/start.png" alt=""></span>
                    </div>
                </div>
            </a>
            <a class="goods cube-acm-node " href="http://shop.mogujie.com/detail/1k7hoja">
                <div class="goods-image J_dynamic_imagebox ">
                    <img class="J_dynamic_img fill_img" src="__PUBLIC__/home/images/tuijiankuzi01.jpg" alt="">
                </div>
                <div class="goods-info">
                    <p class="noicon title">九分长度刚刚好露出细细的脚踝，显瘦没得说</p>
                    <div class="price">
                        <span class="price-box"><i>¥</i><strong class="price-num">59.50</strong></span>
                        <span class="fr like">1755<img src="__PUBLIC__/home/images/start.png" alt=""></span>
                    </div>
                </div>
            </a>
            <a class="goods cube-acm-node " href="http://shop.mogujie.com/detail/1k7hoja">
                <div class="goods-image J_dynamic_imagebox ">
                    <img class="J_dynamic_img fill_img" src="__PUBLIC__/home/images/tuijiankuzi01.jpg" alt="">
                </div>
                <div class="goods-info">
                    <p class="noicon title">九分长度刚刚好露出细细的脚踝，显瘦没得说</p>
                    <div class="price">
                        <span class="price-box"><i>¥</i><strong class="price-num">59.50</strong></span>
                        <span class="fr like">1755<img src="__PUBLIC__/home/images/start.png" alt=""></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
<!--大家都在看-->
    <div class=" clearfix b1">
        <h3 class="top-title">大家都在看</h3>
        <div class="lazyData">
            <div class="goods red height" href="http://shop.mogujie.com/detail/1k7hoja">
                <div class="goods-image J_dynamic_imagebox ">
                    <img class="J_dynamic_img fill_img" src="__PUBLIC__/home/images/dajiaduzaikan01.jpg" alt="">
                    <a class="likeLink yahei">找相似</a>
                </div>
                <div class="goods-info">
                    <p class="noicon title">2017春上新韩版宽松显瘦高腰裤BF风大码牛仔裤女小脚哈伦裤</p>
                    <div class="price">
                        <span class="price-box"><i>¥</i><strong class="price-num">59.50</strong></span>
                        <p class="org_price fl yahei" style="float: left;font-size: 14px;color: #666; margin: 0 0 0 8px;text-decoration:line-through;">
                            ¥&nbsp;<span>84</span></p>
                        <span class="fr like">1755<img src="__PUBLIC__/home/images/start.png" alt=""></span>
                    </div>
                </div>
            </div>
            <div class="goods red height" href="http://shop.mogujie.com/detail/1k7hoja">

                <div class="goods-image J_dynamic_imagebox ">
                    <img class="J_dynamic_img fill_img" src="__PUBLIC__/home/images/dajiaduzaikan02.jpg" alt="">
                    <a class="likeLink yahei">找相似</a>
                </div>
                <div class="goods-info">
                    <p class="noicon title">2017春上新韩版宽松显瘦高腰裤BF风大码牛仔裤女小脚哈伦裤</p>
                    <div class="price">
                        <span class="price-box"><i>¥</i><strong class="price-num">59.50</strong></span>
                        <p class="org_price fl yahei" style="float: left;font-size: 14px;color: #666; margin: 0 0 0 8px;text-decoration:line-through;">
                            ¥&nbsp;<span>84</span></p>
                        <span class="fr like">1755<img src="__PUBLIC__/home/images/start.png" alt=""></span>
                    </div>
                </div>
            </div>
            <div class="goods red height" href="http://shop.mogujie.com/detail/1k7hoja">

                <div class="goods-image J_dynamic_imagebox ">
                    <img class="J_dynamic_img fill_img" src="__PUBLIC__/home/images/dajiaduzaikan01.jpg" alt="">
                    <a class="likeLink yahei">找相似</a>
                </div>
                <div class="goods-info">
                    <p class="noicon title">2017春上新韩版宽松显瘦高腰裤BF风大码牛仔裤女小脚哈伦裤</p>
                    <div class="price">
                        <span class="price-box"><i>¥</i><strong class="price-num">59.50</strong></span>
                        <p class="org_price fl yahei" style="float: left;font-size: 14px;color: #666; margin: 0 0 0 8px;text-decoration:line-through;">
                            ¥&nbsp;<span>84</span></p>
                        <span class="fr like">1755<img src="__PUBLIC__/home/images/start.png" alt=""></span>
                    </div>
                </div>
            </div>
            <div class="goods red height" href="http://shop.mogujie.com/detail/1k7hoja">

                <div class="goods-image J_dynamic_imagebox ">
                    <img class="J_dynamic_img fill_img" src="__PUBLIC__/home/images/dajiaduzaikan02.jpg" alt="">
                    <a class="likeLink yahei">找相似</a>
                </div>
                <div class="goods-info">
                    <p class="noicon title">2017春上新韩版宽松显瘦高腰裤BF风大码牛仔裤女小脚哈伦裤</p>
                    <div class="price">
                        <span class="price-box"><i>¥</i><strong class="price-num">59.50</strong></span>
                        <p class="org_price fl yahei" style="float: left;font-size: 14px;color: #666; margin: 0 0 0 8px;text-decoration:line-through;">
                            ¥&nbsp;<span>84</span></p>
                        <span class="fr like">1755<img src="__PUBLIC__/home/images/start.png" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="__PUBLIC__/common/bootstrap-3.3.7/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/common/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/home/js/jinxuan.js"></script>
</body>

</html>

