<include file="Public/header" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/ShoppingCart.css">
<!--//导航说明-->
<div class="breadcrumb">
	<div class="container">
		<a href="#"> <i class="fa fa-home"></i>
			Home
		</a>
		/  &nbsp;
		<span>Your shopping cart</span>
		<h5>
			SHOPPING-CART SUMMARY
			<span style="font-size: 12px;float: right">Your shopping cart containsouem:1</em>
			Products
		</span>
	</h5>
</div>
</div>

<!--内容-->
<div class="container bg_white_color">
<div class="center_column">
	<div class="row">
		<!-- /*购物流程*/-->
		<div class="cart-top">
			<ul class="">
				<li >
					<span>01. Summary</span>
				</li>
				<li>
					<span>02. Sign in</span>
				</li>
				<li class="current">
					<span>03. Address</span>
				</li>
				<li>
					<span>04. Shipping</span>
				</li>
				<li>
					<span>05. Payment</span>
				</li>
			</ul>
		</div>
		<!--列表表单-->
		<div class="list">
			<form method="post" action="{:U('Order/submit')}">
				<h2>请输入收货地址：</h2>
				<div class="form-group">
					<label >收货人：</label>
					<input type="text" class="form-control" name="consignee"></div>

				<div class="form-group">
					<label >手机号码：</label>
					<input type="text" class="form-control" name="mobile"></div>
				<div class="form-group">
					<label >收货地址：</label>
					<input type="text" class="form-control" name="address"></div>
				<div class="form-group">
					<label >邮编：</label>
					<input type="text" class="form-control" name="zipcode"></div>
				<h2 style="border-top: 1px solid #eee;padding-top: 20px;margin-top: 36px;">购买的商品信息</h2>
				<div style="background-color:#eee">
					<table>
						<thead>
							<tr>
								<td class="center">图片</td>
								<td>商品名称</td>
								<td class="center">价格</td>
								<td class="center">数量</td>
								<td class="center">总计</td>
							</tr>
						</thead>
						<tbody>
									<php> $total_price=0; </php>

							<volist name="cart_list" id="cart_item">

								<tr>

									<td class="cart_Product">
										<a href="{:U('Goods/detailed',array('id'=>
											$cart_item['goods_id']))}">
											<img width="100px" src="__PUBLIC__/{$cart_item['goods_thumb']}" alt=""></a>
									</td>
									<td class="cart_Description">
										<a href="{:U('Goods/detailed',array('id'=>
											$cart_item['goods_id']))}">
											<p>{$cart_item['goods_name']}</p>
										</a>

									</td>
									<td class="cart_Unit">
										<span class="price color_red">
											￥ <em>{$cart_item['goods_price']}</em>
										</span>
									</td>
									<td class="td_num center "> <b>{$cart_item['goods_number']}</b>
									</td>
									<td class="cart_Total">
										<span class="price color_red">￥<php> echo $cur_price=$cart_item['goods_price']*$cart_item['goods_number'];
										 $total_price+=$cur_price;
									 </php></span>
									</td>
								</tr>
							</volist>
						</table>
				</div>
				<div  style="float:right;margin-right:28px">
					<h3>金额：￥<php> echo $total_price; </php></h3>
					<h3>邮费：￥0.00</h3>
					<h3 style="color:red">总金额：￥<php> echo $total_price; </php></h3>
				</div>
				<div  style="float:right;margin-right:28px;width: 118px;clear: both;margin-top: 20px;">
				<input type="hidden" name="goods_amount" value="<php> echo $total_price; </php>">
				<input type="hidden" name="cart_ids" value="{$cart_ids}">
				<input type="hidden" name="shipping_fee" value="0.00">
				<input type="hidden" name="order_amount" value="<php> echo $total_price; </php>">
					<input type="submit" value="提交订单" class="btn  btn-block btn-larg">

				</div>
			</div>
		</div>

		</form>
	</div>

	<include file="Public/footer" />