
<include file="Public/header" />
    <link href="__PUBLIC__./home/css/order.css" rel="stylesheet">
    <link href="__PUBLIC__./home/css/share.css" rel="stylesheet">



<!------------------订单列表内容---------------------->
<div id="order_wrap">
    <div class="mu_wrap wrap clearfix">
        <div id="navListWrap">
            <div class="mu_left_wrap">
                <div class="mu_left_nav">
                    <div class="mu_left_nav_list">
                        <div class="mu_left_nav_pic"></div>
                        <img src="__PUBLIC__/home/images/order_left_pic.jpg">
                    </div>

                </div>

                <div class="mu_left_list ">
                         <div class="mu_title mu_titles">我的订单</div>

                         <!--二级菜单-->
                         <ul class="mu_left_item" >
                             <li class="cur"><a href="javascript:;">全部订单</a></li>
                             <li><a href="javascript:;">待付款</a></li>
                             <li>
                                 <a href="javascript:;">待收货
                                     <i id="unReceivedOrder" class="mu_nav_count">1</i>
                                 </a>
                             </li>
                             <li><a href="javascript:;">待评价</a></li>
                             <li><a href="javascript:;">退货退款</a></li>
                             <li><a href="javascript:;">订单回收站</a></li>
                         </ul>
                </div>

                <div class="mu_left_list">
                    <div class="mu_title"><a href="https://payuserp.mogujie.com/wallet/home">我的钱包</a></div>
                </div>

                <div class="mu_left_list">
                    <div class="mu_title"><a href="http://fund.mogujie.com/pay/fund/index">我的理财</a></div>
                </div>

                <div class="mu_left_list">
                    <div class="mu_title mu_titles">优惠特权</div>

                    <!--二级菜单-->
                    <ul class="mu_left_item">
                        <li><a href="javascript:;">会员中心</a></li>
                        <li><a href="javascript:;">店铺优惠券</a></li>
                        <li><a href="javascript:;">现金券</a></li>
                    </ul>
                </div>

                <div class="mu_left_list">
                    <div class="mu_title"><a href="http://logistics.mogujie.com/trade/address">地址管理</a></div>
                </div>

                <div class="mu_left_list">
                    <div class="mu_title mu_titles">安全设置</div>

                    <!--二级菜单-->
                    <ul class="mu_left_item">
                        <li><a href="javascript:;">设置密码</a></li>
                        <li><a href="javascript:;">绑定手机</a></li>
                        <li><a href="javascript:;">数字证书</a></li>
                    </ul>
                </div>

                <div class="mu_left_list">
                    <div class="mu_title mu_titles">维权管理</div>

                    <!--二级菜单-->
                    <ul class="mu_left_item">
                        <li><a href="javascript:;">投诉管理</a></li>
                        <li><a href="javascript:;">举报管理</a></li>
                    </ul>
                </div>

                <div class="mu_left_list pb40">
                    <div class="mu_title mu_titles">帐号设置</div>

                    <!--二级菜单-->
                    <ul class="mu_left_item">
                        <li><a href="javascript:;">基本信息</a></li>
                        <li><a href="javascript:;">修改头像</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="mu_content_wrap">
            <div class="order_title">
               <ul class="order_title_column clearfix">
                    <li class="goods">商品</li>
                    <li class="price">单价(元)</li>
                    <li class="quantity">数量</li>
                    <li class="aftersale">售后</li>
                    <li class="total">实付款(元)</li>
                    <li class="status">交易状态</li>
                    <li class="other">操作</li>
                </ul>
            </div>

            <div class="orderWrap">
                <div class="order_list">
                    <div class="order_list_content">
                        <table class="order_table">
                            <tbody>
                                <tr class="order_table_header">
                                    <td colspan="7">
                                        <div class="order_info fl">
                                            <span class="number"> 订单编号： <span class="order_num"> 61657222354123 </span> </span>
                                            <span class="deal-time"> 成交时间：2017-04-015 15:27:38 </span>
                                            <a class="shop-name" href="http://shop.mogujie.com/14tqq"> 店铺：
                                                <span>遇见_你 meeting you</span>
                                            </a>
                                        </div>

                                        <a href="javascript:;" class="contact_btn">
                                            <span class="icon icon_contact">联系商家</span>
                                        </a>
                                    </td>
                                </tr>

                                <tr class="order_table_item">
                                    <td class="goods">
                                        <a class="pic_box" href="javascript:;" title="查看宝贝详情">
                                            <img src="__PUBLIC__/home/images/order_pic.v1c0.webp">
                                        </a>
                                        <div class="title">
                                            <p>
                                                <a href="javascript:;" target="_blank">百搭显瘦连帽抽绳简约蝙蝠袖T恤女学院风学生上衣</a>
                                                <a class="snapshot" href="javascript:;" target="_blank">[交易快照]</a>
                                            </p>
                                            <p>颜色：白色</p>
                                            <p>尺码：M</p>
                                            <div class="order_icon">
                                                <span class="order_clock" data-toggle="tooltip" title="72小时发货">
                                                    <img src="__PUBLIC__/home/images/order_clock.png">
                                                </span>
                                                <span class="order_price" data-toggle="tooltip" title="7天无理由退货">
                                                    <img src="__PUBLIC__/home/images/order_price.png" >
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="price"> <p class="price_old">70.00</p> <p>49.00</p> </td>
                                    <td class="number">1</td>
                                    <td class="aftersale">
                                        <a class="refund" href="javascript:;" target="_blank">退款/退货</a>
                                        <a class="refund" href="javascript:;" target="_blank">申请维权</a>
                                    </td>
                                    <td class="total" rowspan="1">
                                        <p class="total_price">￥ 49.00</p>
                                        <p>  (全国包邮) </p>
                                    </td>
                                    <td class="status" rowspan="1">
                                        <p class="icon icon_delivery"> 已发货 </p>
                                        <a href="javascript:;" class="order_details" target="_blank">订单详情</a>
                                        <div class="order_logistics">
                                            <a href="javascript:;" class="order_details" target="_blank">查看物流</a>
                                            <div class="order_inquiry">
                                                <div class="inner">
                                                    <p>物流公司：韵达快运</p>
                                                    <p>物流单号：3800145836158</p>
                                                    <ul>
                                                        <li class="newest">
                                                            <p>在广东广州天河区东圃公司车陂东溪便民服务站进行签收扫描,快件已被已签收签收</p>
                                                            <p>2017-04-13 19:38:33</p>
                                                        </li>
                                                        <li>
                                                            <p>在广东广州天河区东圃公司车陂东溪便民服务站 ,进行派件扫描；派送业务员：小吕；联系电话：13500259307</p>
                                                            <p>2017-04-13 10:20:30</p>
                                                        </li>
                                                        <li>
                                                            <p>在广东广州天河区东圃公司 ,进行快件扫描</p>
                                                            <p>2017-04-13 07:18:48</p>
                                                        </li>
                                                    </ul>
                                                    <a href="javascript:;" class="view_details" target="_blank">查看详情</a>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="other" rowspan="1">
                                        <a class="order_btn qr1" href="javascript:;">确认收货</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="orderWrap">
                <div class="order_list">
                    <div class="order_list_content">
                        <table class="order_table">
                            <tbody>
                            <tr class="order_table_header">
                                <td colspan="7">
                                    <div class="order_info fl">
                                        <span class="number"> 订单编号： <span class="order_num"> 61657222383100 </span> </span>
                                        <span class="deal-time"> 成交时间：2017-04-019 18:15:08 </span>
                                        <a class="shop-name" href="http://shop.mogujie.com/14tqq"> 店铺：
                                            <span>佳佳店铺</span>
                                        </a>
                                    </div>

                                    <a href="javascript:;" class="contact_btn">
                                        <span class="icon icon_contact">联系商家</span>
                                    </a>
                                </td>
                            </tr>

                            <tr class="order_table_item">
                                <td class="goods">
                                    <a class="pic_box" href="javascript:;" title="查看宝贝详情">
                                        <img src="__PUBLIC__/home/images/order_pic.v2c0.webp">
                                    </a>
                                    <div class="title">
                                        <p>
                                            <a href="javascript:;" target="_blank">百搭显瘦连帽抽绳简约蝙蝠袖T恤女学院风学生上衣</a>
                                            <a class="snapshot" href="javascript:;" target="_blank">[交易快照]</a>
                                        </p>
                                        <p>颜色：白色</p>
                                        <p>尺码：M</p>
                                        <div class="order_icon">
                                                <span class="order_clock" data-toggle="tooltip" title="72小时发货">
                                                    <img src="__PUBLIC__/home/images/order_clock.png">
                                                </span>
                                            <span class="order_price" data-toggle="tooltip" title="7天无理由退货">
                                                    <img src="__PUBLIC__/home/images/order_price.png" >
                                                </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="price"> <p class="price_old">85.00</p> <p>59.00</p> </td>
                                <td class="number">1</td>
                                <td class="aftersale">
                                    <a class="refund" href="javascript:;" target="_blank">退款/退货</a>
                                    <a class="refund" href="javascript:;" target="_blank">申请维权</a>
                                </td>
                                <td class="total" rowspan="1">
                                    <p class="total_price">￥ 59.00</p>
                                    <p>  (全国包邮) </p>
                                </td>
                                <td class="status" rowspan="1">
                                    <p class="icon icon_delivery"> 已发货 </p>
                                    <a href="javascript:;" class="order_details" target="_blank">订单详情</a>
                                    <div class="order_logistics">
                                        <a href="javascript:;" class="order_details" target="_blank">查看物流</a>
                                        <div class="order_inquiry">
                                            <div class="inner">
                                                <p>物流公司：申通快运</p>
                                                <p>物流单号：3800145835412</p>
                                                <ul>
                                                    <li class="newest">
                                                        <p>在广东广州天河区东圃公司车陂东溪便民服务站进行签收扫描,快件已被已签收签收</p>
                                                        <p>2017-04-13 19:38:33</p>
                                                    </li>
                                                    <li>
                                                        <p>在广东广州天河区东圃公司车陂东溪便民服务站 ,进行派件扫描；派送业务员：小吕；联系电话：13500259307</p>
                                                        <p>2017-04-13 10:20:30</p>
                                                    </li>
                                                    <li>
                                                        <p>在广东广州天河区东圃公司 ,进行快件扫描</p>
                                                        <p>2017-04-13 07:18:48</p>
                                                    </li>
                                                </ul>
                                                <a href="javascript:;" class="view_details" target="_blank">查看详情</a>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="other" rowspan="1">
                                    <a class="order_btn" href="javascript:;">运送中</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<!-----------------确认订单后的遮盖层---------------------->
<div id="zg">
<div id="zg_center">
    <div class="zg_center_box">
        <div class="wrong">
            <span class="zg_span"><img src="__PUBLIC__/home/images/order_wrong.png"></span>
        </div>
        <div class="zg_sh_box">
            <div class="zg_tips"> <p>菇凉，已经收到货了吗？</p> </div>
            <div class="zg_action">
                <a class="zg_btn qr2" href="javascript:;">确认</a>
                <a class="zg_btn cancel" href="javascript:;">取消</a>
            </div>
        </div>
    </div>
</div>
</div>

<!----------------------底部------------------------->
<div class="tail" style="background: #fff;">
    <div class="tail-nav">
        <div class="tail-one">
            <div class="tail-oblock">
                <div class="tail-title">
                    <h4 class="tail-h4">- 新手帮助 -</h4>
                </div>
                <ul>
                    <li class="tail-oblock-li"><a href="">常见问题</a></li>
                    <li class="tail-oblock-li"><a href="">自助服务</a></li>
                    <li class="tail-oblock-li"><a href="">联系客服</a></li>
                    <li class="tail-oblock-li"><a href="">意见反馈</a></li>
                </ul>
            </div>
            <div class="tail-oblock">
                <div class="tail-title">
                    <h4 class="tail-h4">- 权益保障 -</h4>
                </div>
                <ul>
                    <li class="tail-oblock-li"><a href="">全国包邮</a></li>
                    <li class="tail-oblock-li"><a href="">7天无理由退货</a></li>
                    <li class="tail-oblock-li"><a href="">退货运费补贴</a></li>
                    <li class="tail-oblock-li"><a href="">限时发货</a></li>
                </ul>
            </div>
            <div class="tail-oblock">
                <div class="tail-title">
                    <h4 class="tail-h4">- 支付方式 -</h4>
                </div>
                <ul>
                    <li class="tail-oblock-li"><a href="">-微信支付</a></li>
                    <li class="tail-oblock-li"><a href="">支付宝</a></li>
                    <li class="tail-oblock-li"><a href="">白付美支付</a></li>
                </ul>
            </div>
            <div class="tail-oblock">
                <div class="tail-title">
                    <h4 class="tail-h4">- 移动客户端下载 -</h4>
                </div>
                <ul>
                    <li class="tail-oblock-li tail-oblock-ewm">
                        <div class="tail-ewm">
                            蘑菇街
                        </div>
                        <img src="__PUBLIC__/home/images/tewm1.png" alt="" class="tail-ewm-img">
                    </li>
                    <li class="tail-oblock-li tail-oblock-ewm">
                        <div class="tail-ewm">
                            美丽说
                        </div>
                        <img src="__PUBLIC__/home/images/ewm2.png" alt="" class="tail-ewm-img">
                    </li>
                    <li class="tail-oblock-li tail-oblock-ewm">
                        <div class="tail-ewm">
                            uni引力
                        </div>
                        <img src="__PUBLIC__/home/images/ewm3.png" alt="" class="tail-ewm-img">
                    </li>
                </ul>
            </div>
        </div>
        <div class="tail-two">
             <span class="tail-ts">
                 <a href="" class="tail-ta">美丽说</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">蘑菇街游戏</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">淘粉吧</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">穿衣搭配</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">秋季女装新款</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">秋季连衣裙长袖</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">秋季孕妇装</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">QQ钱包</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">时尚品牌网</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">装修</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">背带裤搭配</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">衣联网</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">美丽说</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">播视网视频</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">慧聪网</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">衬衫搭配</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">冬装时尚搭配</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">针织衫搭配</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">牛仔衣搭配</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">风衣搭配</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">补水面膜排行榜</a>
                 <b class="tail-tb">|</b>
                 <a href="" class="tail-ta">爱蘑菇街</a>
                 <b class="tail-tb">|</b>
             </span>
        </div>
        <div class="tail-three">
            <ul>
                <li class="tail-oblock-li"><a href="">关于我们</a></li>
                <li class="tail-oblock-li"><a href="">招聘信息</a></li>
                <li class="tail-oblock-li"><a href="">联系我们</a></li>
                <li class="tail-oblock-li"><a href="">商家后台</a></li>
                <li class="tail-oblock-li"><a href="">蘑菇商学院</a></li>
                <li class="tail-oblock-li"><a href="">商家社区</a></li>
            </ul>
            <p class="tail-tp">©2017 Mogujie.com 杭州卷瓜网络有限公司</p>
        </div>
        <div class="tail-four">
            <p class="tail-tp">
                <span class="tail-ts">营业执照注册号：</span>
                <a href="">330106000129004</a>
                <b class="tail-tb">|</b>
                <span  class="tail-ts">网络文化经营许可证：</span>
                <a href="">浙网文（2016）0349-219号</a>
                <b class="tail-tb">|</b>
                <span  class="tail-ts">增值电信业务经营许可证：</span>
                <a href="">浙B2-20110349</a>
                <b class="tail-tb">|</b>
                <a href="">安全责任书</a>
                <b class="tail-tb">|</b>
                <a href="">浙公网安备 33010602002329号</a>
                <b class="tail-tb">|</b>
            </p>
        </div>
    </div>
</div>

<script src="__PUBLIC__/common/bootstrap-3.3.7/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/common/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/home/js/order.js"></script>
<script src="__PUBLIC__/home/js/header.js"></script>

</body>
</html>