<include file="Public/header" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/login.css">
<script src="__PUBLIC__/home/js/angular.min.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.4.6/angular-route.min.js"></script>
<script src="__PUBLIC__/home/js/controls/app.js"></script>
<script src="__PUBLIC__/home/js/controls/controller.js"></script>
<script src="__PUBLIC__/home/js/login.js"></script>
<script src="__PUBLIC__/home/js/controls/service.js"></script>

<section class="login" ng-app="SC-Login">

    <div ng-view=""></div>
</section>

<include file="Public/footer" />