<include file="Public/header" />
    <link href="__PUBLIC__./home/css/share.css" rel="stylesheet"> 
    <link rel="stylesheet" href="__PUBLIC__/home/css/redman.css?1">
    <script type="text/javascript">
        var pub_path="__PUBLIC__/";//这一个是ajax提交的修改地址
        var Redman_ajax_url="{:U('Redman/ajax_get')}";
        //alert(Redman_ajax_url);//    /mogu/index.php/home/Redman/ajax_get.html
        //这一个是ajax提交的修改地址
    </script>
<div id="body_wrap">
    <!--最上面的图片-->
    <div class="banner-wrap" style="background-color:#ffcbae;">
        <a class="banner" href="javascript:;" target="_self" style="cursor: default;">
            <img src="__PUBLIC__/home/images/meinv.jpg"> </a></div>
    <!--中间的导航以及标题-->
    <div class="nav_warp">
        <p class="nav-title"><a href="http://www.mogujie.com">首页</a> &gt; 红人穿搭</p>

        <!--红人搭配布局-->
        <div class="bx-wrapper" >
            <div class="bx-viewport">
                <ul class="nav-list clearfix  nav nav-tabs" id="myTab" role="tablist">
                    <volist name="redman_parent" id="value">
                        <li class=" nav-item mr10 "><a href="#{$value['redman_id']}" role="tab" data-toggle="tab" >{$value['redman_name']}</a></li>
                    </volist>
                </ul>
            </div>
            <div class="bx-controls bx-has-controls-direction">
                <div class="bx-controls-direction">
                    <a class="bx-prev disabled" href="javascript:;">
                        <img src="__PUBLIC__/home/images/left.png" class="arrow">
                    </a>
                    <a class="bx-next" href="javascript:;">
                        <img src="__PUBLIC__/home/images/right.png" class="arrow">
                    </a>
                </div>
            </div>
        </div>
        </div>
    <!--下面图片-->
    <div class="pool-wrap tab-content" id="myTabContent">
        <volist name="redman_parent" id="val">
            <div class="tab-pane  w-wall-segment clearfix" id="{$val['redman_id']}">  
            </div>
        </volist>
    </div>
</div>
<include file="Public/footer" />
<script src="__PUBLIC__/home/js/Redman.js?1"></script>