body {
    /*background: rgb(245, 245, 245);*/
}

a, body, html {
    color: #333;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

li, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

input, textarea {
    margin: 0;
    padding: 0;
    outline: none;
/ / 取出点击蓝框
}

.content {
    width: 1200px;
!important;
    margin: auto;
}

html, body, h1, h2, h3, h4, h5, h6, ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.yahei {
    font-family: "微软雅黑";
}

/*头部代码*/
.nav {
    margin-bottom: 0;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    height: 31px;
    width: 100%;
    font-size: 12px;
}

.nav-wap {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.nav-logo {
    background: url(../images/logo.png) -4px -234px no-repeat;
    padding: 0 20px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    margin-left: 20px;
    float: left;
}

.nav-ul {
    float: right;
    margin: 0;
}

.nav-ul .s1 {
    display: inline;
    position: relative;
    z-index: 100;
    float: left;
    margin: 0 15px 0 0;
    height: 31px;
    line-height: 31px;
    cursor: pointer;
}

.nav-ul .ullia a {
    padding-left: 38px;
    border-left: 1px solid #ddd;
}

.nav-ul .s1 a {
    float: left;
    /*overflow: hidden;*/
    margin-top: 8px;
    color: #666;
    line-height: 15px;
}

.nav-ul .nav-dd {
    background: url(../images/logo.png) 15px -529px no-repeat;
}

.nav-ul .nav-shopping {
    position: relative;
    background: url(../images/logo.png) 8px -420px no-repeat;
}

.nav-ul .nav-shopping:hover div {
    display: block;
}

.nav-ul .nav-shopping .sp-cart {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 31px;
    left: -75px;
    width: 250px;
    padding: 15px;
    background: #eee;
    border-radius: 0 0 5px 5px;
    border: 1px solid #ddd;
    border-top: none;
    text-align: center;
    display: none;
}

.nav-ul .nav-khfw {
    padding-right: 10px;
    position: relative;
}

.nav-ul .nav-khfw:hover .khfw-tcc {
    display: block;
}

.nav-ul .nav-khfw .khfw-tcc {
    position: absolute;
    width: 90px;
    top: 31px;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 3px 3px;
    display: none;
}

.nav-ul .nav-khfw .khfw-tcc li {
    overflow: hidden;
    text-align: center;
    padding: 0px 14px 10px 14px;
}

.nav-ul .khfw-tcc li:hover {
    background-color: #e4e4e4;
}

.nav-ul .nav-khfw .khfw-tcc a {
    padding: 0;
    border: none;
}

.nav-ul .nav-khfw a {
    padding-left: 15px;
}

.nav-ul .nav-icon {
    position: absolute;
    width: 7px;
    height: 5px;
    top: 14px;
    right: 0;
    background: url(../images/logo.png) -4px -229px;
}

.nav-ul .nav-wdxd {
    margin-right: 0;
    background: url(../images/logo.png) 8px -568px no-repeat;
    padding-right: 10px;
}

.nav-ul .nav-wdxd .khfw-tcc {
    position: absolute;
    width: 100px;
    top: 31px;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 3px 3px;
    display: none;
}

.nav-ul .nav-wdxd .khfw-tcc li {
    overflow: hidden;
    text-align: center;
    padding: 0px 14px 10px 25px;
}

.nav-ul .nav-wdxd .khfw-tcc a {
    padding: 0;
    border: none;
}

.nav-ul .nav-wdxd:hover .khfw-tcc {
    display: block;
}

/*头二*/
.header {
    background-color: white;
    border-bottom: 2px solid #f46;
    height: 95px;
}

.header .logo {
    float: left;
    width: 240px;
    height: 90px;
    overflow: hidden;
    background-image: url(../images/logo1.png);
    background-position: left center;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.header-ssk {
    width: 482px;
    height: 90px;
    float: left;
    margin-left: 120px;
    margin-top: 24px;
}

.header-srk {
    border: 1px solid #f07;
    width: 480px;
    height: 34px;
    border-radius: 0 6px 6px 0;
    margin-bottom: 10px;
}

.header .selected {
    display: block;
    height: 32px;
    line-height: 34px;
    color: #f07;
    cursor: pointer;
    background-color: #fff;
    background-image: url(../images/xl.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.header-ssp {
    position: relative;
    float: left;
    width: 60px;
    z-index: 10;
    text-align: center;
}

.header-ssp ol {
    display: none;
    position: absolute;
    top: 102%;
    left: -1px;
    width: 60px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-top: 1px solid transparent;
}

.header-ssp ol li {
    display: block;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    color: #f07;
    text-align: center;
}

.header-ssp ol li a {
    color: #f07;
}

.header .header-ssp:hover .ssp-ol {
    display: block;
}

.header .ssp-ol li:hover {
    background-color: #ffeef4;
    color: #f07;
}

.header-text {
    height: 34px;
    position: relative;
}

.header-text .header-lsjl {
    min-height: 247px;
    width: 319px;
    left: 59px;
    top: 33px;
    background-color: #fff;
    position: absolute;
    display: none;
    border: 1px solid #f07;
}

.header .input-text {
    display: block;
    overflow: hidden;
    width: 318px;
    height: 32px;
    line-height: 22px;
    /*padding: 5px 0 5px 10px;*/
    border: none;
    color: #999;
    font-size: 12px;
    background-color: #fff;
    float: left;
}

.header .input-btn {
    float: right;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    width: 100px;
    background-color: #f07;
    background-image: linear-gradient(to right, #f25, #ff1581);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

.header .header-tj a {
    color: black;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0px 17px 0 0;
    font-size: 12px;
}

.header .header-tj a:hover {
    color: #f07 !important;
    text-decoration: underline;
}

.header-ewm {
    float: right;
    height: 90px;
    width: 220px;
    overflow: hidden;
    background-size: 100%;
    margin-top: 5px;
}

.header-ewm img {
    height: 100%;
    float: right;
}

.header-two {
    position: fixed;
    _position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 #ccc;
    z-index: 9999;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: none;
}

.header-img {
    float: left;
    width: 240px;
    height: 36px;
    overflow: hidden;
    margin-top: 7px;
}

.header-img img {
    height: 100%;
    float: left;
}

.header-two-ssk {
    width: 482px;
    height: 40px;
    float: left;
    margin-left: 120px;
    margin-top: 8px;
}

.header-two-srk {
    border: 1px solid #f07;
    width: 480px;
    height: 34px;
    border-radius: 0 6px 6px 0;
    margin-bottom: 10px;
}

.header-two .selected {
    display: block;
    height: 32px;
    line-height: 34px;
    color: #f07;
    cursor: pointer;
    background-color: #fff;
    background-image: url(../images/xl.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.header-two-ssp {
    position: relative;
    float: left;
    width: 60px;
    z-index: 10;
    text-align: center;
}

.header-two-ssp ol {
    display: none;
    position: absolute;
    top: 102%;
    left: -1px;
    width: 60px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-top: 1px solid transparent;
}

.header-two-ssp ol li {
    display: block;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    color: #f07;
    text-align: center;
}

.header-two-ssp ol li a {
    color: #f07;
}

.header-two .header-two-ssp:hover .ssp-ol {
    display: block;
}

.header-two .ssp-ol li:hover {
    background-color: #ffeef4;
    color: #f07;
}

.header-two-text {
    height: 34px;
    position: relative;
}

.header-two-text .header-two-lsjl {
    min-height: 247px;
    width: 319px;
    left: 59px;
    top: 33px;
    background-color: #fff;
    position: absolute;
    display: none;
    border: 1px solid #f07;
}

.header-two .input-two-text {
    display: block;
    overflow: hidden;
    width: 318px;
    height: 31px;
    line-height: 22px;
    padding: 6px 0 6px 10px;
    border: none;
    color: #999;
    font-size: 12px;
    background-color: #fff;
    float: left;
}

.header-two .input-btn {
    float: right;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    width: 100px;
    background-color: #f07;
    background-image: linear-gradient(to right, #f25, #ff1581);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

.header-two .header-two-tj a {
    color: black;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0px 17px 0 0;
    font-size: 12px;
}

.header-two .header-two-tj a:hover {
    color: #f07 !important;
    text-decoration: underline;
}

/*<!--内容部分-->*/
/*<!--上部分显示盒子-->*/
#body_content .sp_topbanner {
    /*border: 1px solid #e5e5e5;*/
    margin-top: 30px;
}

#body_content .sp_top_nav {
    border: 1px solid #ccc;

    padding-left: 15px;
    background-color: #fafafa;
    position: relative;
}

#body_content .sp_top_nav .nav-list {
    height: 38px;
}

#body_content .sp_top_nav .nav-list li {
    width: 65px;
    float: left;
    text-align: center;
}

#body_content .sp_top_nav .nav-list li a {
    display: block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    font-family: Microsoft Yahei;
    color: #333;
    font-size: 16px;
}

.nav-list .active {
    border-top: 2px solid #f46;
    background: #fff;
    border-radius: 0;
}
.sp_top_nav .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius:0;
    text-decoration: none;
}
#body_content .sp_type_nav {
    padding: 30px 20px 20px 30px;
    font-size: 0;
    height: 280px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#body_content .sp_type_nav .type_section {
    float: left;
    width: 435px;
    height: 96px;
    /*overflow: hidden;*/
    margin-right: 25px;
    margin-bottom: 30px;
}

#body_content .sp_type_nav .type_section dt {
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    font-family: Microsoft Yahei;
    font-size: 16px;
    color: #333;
}

#body_content .sp_type_nav .type_section dd a {
    display: inline-block;
    line-height: 11px;
    color: #333;
    overflow: hidden;
    font-size: 12px;

}

#body_content .sp_type_nav .type_section dd ul li a {
    display: inline-block;
    line-height: 11px;
    padding: 4px 6px;
    color: #333;

    font-size: 12px;
    margin: 0 10px;
}

#body_content .sp_type_nav .type_section dd {
    margin-top: 10px;
    position: relative;
    vertical-align: top;
    height: 68px;
    /*overflow: hidden;*/
}

#body_content .sp_type_nav .type_section dd ul {
    font-size: 0;
    position: absolute;
    left: 60px;
    top: 5px;
}

#body_content .sp_type_nav .type_section dd .cat_img {
    float: left;
    height: 66px;
    border: 1px solid #f2f2f2;
    background: #fff;
    padding: 0;
    margin: 0;
}

.sp_type_nav .type_section dd .cat_img img {
    width: 66px;
    height: 66px;
}

#body_content .sp_type_nav .type_section dd ul li {
    height: 10px;
    margin-bottom: 13px;
    border-right: 1px solid #ccc;
    float: left;
}

#body_content .sp_type_nav .right_img {
    display: inline-block;
    padding-left: 20px;
    border-left: 1px dashed #e5e5e5;
    margin-top: -12px;
}

#body_content .content .sub_title {
    line-height: 32px;
    font-size: 24px;
    font-weight: 400;
    color: #333;
    margin-top: 30px;
    margin-bottom: 8px;
    font-family: Microsoft Yahei;
}

#body_content .wall_goods_box .sort_nav {
    position: relative;
    border: 1px solid #e5e5e5;
    z-index: 12;
}

#body_content .wall_goods_box .sort_nav .nav_left {
    font-size: 0;
    /*height: 24px;*/
    padding: 7px 0;
    width: 631px;
    line-height: 24px;
}
#body_content .nav-tabs {
     border-bottom:none;
}
#body_content .wall_goods_box .sort_nav .sort {
    padding: 3px 20px;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    font-size: 12px;
}

#body_content .wall_goods_box .sort_nav .price .txt {
    float: left;
    width: 46px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    border: 1px solid #dadada;
    font-size: 12px;
}

#body_content .wall_goods_box .sort_nav .price .txt input {
    float: left;
    border: none;
    width: 32px;
    height: 20px;
    line-height: 22px;
}

#body_content .wall_goods_box .sort_nav .price .dived {
    float: left;
    margin: 0 5px;
    font-size: 12px;
}

#body_content .wall_goods_box .sort_nav .price .sbt {
    background: none;
    border: 1px solid #dadada;
    color: #333;
    width: 45px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    font-size: 12px;
}

#body_content .wall_goods_box .sort_nav .price_choice .price-citem {
    width: 74px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    border: 1px solid #e5e5e5;
    border-left: none;
    padding: 0;
    float: left;
}

#body_content .wall_goods_box .sort_nav .price_choice {
    display: inline-block;
    margin-left: 10px;
    border-left: 1px solid #e5e5e5;
    height: 22px;
}

#body_content .wall_goods_box .sort_nav .price_choice .price-citem a {
    font-size: 12px;
    display: inline-block;
    width: 100%;
}

#body_content .common_goods_wall {
    margin-top: 30px;
    overflow: hidden;
}

#body_content .goods_item {
    margin: 0 25px 25px 0;
    width: 220px;
    height: 408px;
    border: 1px solid #f2f2f2;
    float: left;
}
#body_content .goods_item:nth-child(5n) {
    margin: 0 0px 25px 0;
}

#body_content .goods_item .goodsitem-img {
    display: block;
    width: 209px;
    height: 324px;
}

#body_content .goods_item .goodsitem-img img {
    width: 218px;
    height: 324px;
}

#body_content .goods_item .title {
    line-height: 20px;
    position: relative;

    font-size: 14px;
    width: 100%;
    height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
    overflow: hidden;
    margin: 0;
}

#body_content .goods_item .liangpin {
    height: 21px;
    line-height: 14px;
    width: 100%;
    float: left;
    margin: 0;
    overflow: hidden;
}

#body_content .goods_item .liangpin img {
    height: 18px;
    margin-left: 5px;
}

#body_content .goods_item .del {
    color: #ccc;
    margin: 3px 0 0 8px;
}

#body_content .xiangxi .goods_info {
    width: 100%;
}

#body_content .goods_item .price-info {
    float: left;
    color: #333;
    font-weight: 700;
    font-size: 16px;
}

.xiangxi {
    display: block;
    padding: 0 8px;
}

#body_content .goods_item .xingxing {
    font-size: 12px;
    color: #999;
    float: right;
    line-height: 22px;

}

#body_content .goods_item .xingxing img {
    width: 16px;
    height: 15px;
    margin-right: 3px;
    margin-top: -3px;
}

#body_content .goods_item {
    position: relative;
}

#body_content .goods_item .si {
    position: absolute;
    bottom: 82px;
    left: 0;
    height: 24px;
    display: none;
line-height: 24px;
    width: 100%;
    color: #fff;
    background-color: rgba(255, 85, 119, .7);
    text-align: center;
}
#body_content .goods_item:hover .si{
    display: block;
}
#body_content .goods_item:hover{
    border:1px solid red ;
}